[Unit]
Description=KDE Display Manager
Requires=dev-tty9.device
After=dev-tty9.device systemd-user-sessions.service

[Service]
ExecStart=/usr/bin/kdm -nodaemon

[Install]
WantedBy=graphical.target

